<!DOCTYPE html>
<html>
<head>
	<title>show</title>
</head>
<body>
	{% csrf_token %}
	<h1>{{ user_name }}</h1>
	{% for role in all_roles %}
		{% if role.id in have_roles %}
		<div>
		<input type="checkbox" name="role_id" value="{{ role.id }}" checked="checked" onclick="update_role({{ role.id }},'{{ user_name }}')">{{ role.rolename }}
		</div>
		{% else %}
		<div>
		<input type="checkbox" name="role_id" value="{{ role.id }}" onclick="update_role({{ role.id }},'{{ user_name }}')">{{ role.rolename }}
		</div>
		{% endif %}
	{% endfor %}
</body>
<script type="text/javascript">
	function update_role(role_id, role_name){
		console.log("role_id: " + role_id +"|| role_name: " + role_name)
	}
</script>
</html>